---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="关于" description="关于墨水瓶 InkerBot">
  <article>
    <div class="prose">
      <h2 id="墨水瓶是一只-bot">墨水瓶是一只 Bot</h2>
      <p>
        Hello, InkerBot. 本来的名字是墨水瓶，不过我的朋友喜欢叫我瓶子，当然也有朋友喜欢叫我
        logos (快忘掉!）。
      </p>

      <h2 id="me">Me</h2>
      <ul>
        <li>🐈 夜行动物，夜晚是灵感爆发的时间。</li>
        <li>🌈 非二次元，我爱雷泽大人！！！</li>
        <li>😶 内向 &amp; 社恐，不会主动交际，喜欢旁观并预测结果。</li>
        <li>😑 少言，在外人看来是一个非常少言的人，也不擅长组织语言，比较喜欢用逻辑性的文字来表达想法。</li>
        <li>🚲 独行，喜欢缩在角落里做自己的事，讨厌被打扰，非常讨厌！要是有不会被打扰的环境，瓶子一定吹爆。</li>
        <li>🤔 专注，在有明确的目标的时候，会不顾一切去实现它。</li>
        <li>
          🌰 性格类型是
          <a href="https://www.16personalities.com/ch/intp-%E4%BA%BA%E6%A0%BC">INTP-T</a>。
        </li>
        <li>🐟 我爱摸鱼！</li>
        <li>🎲 对未来感到迷茫，但会为了以前的目标不顾一切。</li>
        <li>💬 不会说英语，曾在德国获得成就 “面对面 whatsapp”。</li>
        <li>🐛 主业写 Bug，副业 Debug。</li>
        <li>🛠️ 喜欢折腾，会消耗自己的时间避免进入思考的状态。</li>
        <li>🎹 讨厌音乐，所有音乐！</li>
        <li>🎮 喜欢享受游戏中的剧情，吹爆 UBI Art。</li>
        <li>🍻 朋友很少，但认为在未来会越来越多。</li>
      </ul>

      <h2 id="stack">Stack</h2>
      <p>了解 ?，熟悉 -，掌握 +，熟练 ++，精通 +++</p>
      <p>Languages：</p>
      <ul>
        <li>C/C++ ++</li>
        <li>Java ++</li>
        <li>PHP ++</li>
        <li>TypeScript +</li>
        <li>JavaScript +</li>
        <li>GO +</li>
        <li>Markdown +</li>
        <li>HTML ?</li>
        <li>CSS ?</li>
      </ul>

      <h2 id="inkerbot">inker.bot</h2>
      <ul>
        <li>在听说有 .bot 的域名时，瓶子就想到了 inker.bot。甚至想买下 i.bot。瓶子是一只机器人嘛</li>
        <li>后来在通过 Bot 认证之后，被 i.bot 的报价劝退了。后来在 ink.bot inker.bot 中，选择了 inker.bot。</li>
        <li>或许…改名成 InkBot 也是不错的选择？</li>
        <li>瓶子的博客有点更像日志了，只是为了不忘记自己做了什么。</li>
        <li>或许有些能帮到各位的东西？</li>
        <li>
          文章全部为 All rights reserved，如需使用请联系墨水瓶
          <a href="mailto:im@inker.bot">im@inker.bot</a> 获取豁免。
        </li>
      </ul>

      <h2 id="openpgp">OpenPGP</h2>
      <ul>
        <li>
          公钥:
          <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/4AF7B0066ECD0B3A4FE933BC4E4BCA29C0E8177E">
            https://keys.openpgp.org/vks/v1/by-fingerprint/4AF7B0066ECD0B3A4FE933BC4E4BCA29C0E8177E
          </a>
        </li>
        <li>指纹：<code>4AF7 B006 6ECD 0B3A 4FE9 33BC 4E4B CA29 C0E8 177E</code></li>
      </ul>

      <h2 id="contact">Contact</h2>
      <ul>
        <li>Mail：<a href="mailto:im@inker.bot">im@inker.bot</a></li>
        <li>QQ：2924657226</li>
        <li>Tel：+86 18361091295</li>
        <li>Telegram: <a href="https://t.me/InkerBot">@InkerBot</a></li>
        <li>CallSign: BH8UUQ</li>
      </ul>

      <h2 id="donate">Donate</h2>
      <p>饿饿，饭饭 (/ω＼) （逃。</p>
      <p>您可以在 <a href="https://afdian.net/@inkerbot">爱发电</a> 赞助我。</p>
    </div>
  </article>
</BaseLayout>
